body {
  background-color: grey;
}

.playArea {
  display: flex;
}

.boards {
  display: flex;
}

.board {
  height: 500px;
  width: 500px;
  border: solid 1px black;
  padding: 10px;
}

.gridRow {
  display: flex;
  width: 100%;
  height: calc(100% / 10);
}

.gridSquare {
  border: solid 1px darkcyan;
  width: calc(100% / 10);
  height: 100%;
  background-color: rgb(213, 236, 246);
}

/* .onhover {
  background-color: white;
} */

.onhover:hover {
  background-color: greenyellow;
}

.placementHover {
  background-color: blue;
}

.playerHit {
  background-color: rgb(215, 0, 0);
}

.playerMissed {
  background-color: white;
}

#message {
  border: 1px solid black;
}

.computerHit {
  background-color: orange;
}

.computerSunk {
  background-color: darkgrey;
}

.allTrackers {
  display: flex;
}

.tracker {
  padding: 5px;
}

.statusPiece {
  display: grid;
}

.statusSquares {
  display: flex;
}

.statusSquare {
  background-color: white;
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.statusNotSunk {
  background-color: white;
}

.statusSunk {
  background-color: rgb(215, 0, 0);
}
